[alias]
    ci = "commit"
    cia = "commit --amend"
    cian = "commit --amend --no-edit"
    cim = "commit -m"

    co = "checkout"
    cob = "checkout -tb"

    st = "status -sb"

    cl = "clone"
    br = "branch"
    r = "reset"
    rs = "reset --soft"
    cp = "cherry-pick"
    gr = "grep -Ii"

    s = "stash"
    sl = "stash list"
    sa = "stash apply"
    ss = "stash save"
    sp = "stash pop"


    lasttag = "describe --tags --abbrev=0"
    lt = "describe --tags --abbrev=0"

    p = "push"
    po = "push -u origin HEAD"

    um = "!(git checkout master || git checkout main) && git pull -r"

    lsa-raw = "!git config -l | grep ^alias | cut -c 7-"
    lsa  = "!git lsa-raw  | awk -F= '{first=$1;$1=\"\";printf(\"%-12s %s\\n\",first,$0);}'"
    lsal = "!git lsa-raw  | awk -F= '{first=$1;$1=\"\";printf(\"%12s %s\\n\",first,$0);}'"
    glsa = "!git lsa | grep"

    qc = "!f() { git stash && git um && git co -tb \"$1\" && git stash pop && git add . && git ci -m \"${1}: ${2}\" -m '' -m \"${3:-desc}\"; } ; f"

    empty = "!git commit -am\"[empty] Initial commit\" --allow-empty"


    lightclone = "!echo -e \"!--------------------!\nDepth is set to 10!\nCan lead to UNEXPECTED behaviour.\nUsefull if you are only checking out repo, not using it for development\n!--------------------!\" && git clone --depth 10 --single-branch"
    lc = "lightclone"

    logg = "log --graph --oneline --decorate"
    logga = "logg --all"

    lg = "log --color --graph --pretty=format:'%C(yellow)%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    lga = "lg --all"
